{% extends "base.html" %}

{% block app_content %}
 <h1>Book Edit</h1>
 <form action="" method="post" enctype="multipart/form-data" novalidate>
    {{form.hidden_tag()}}
       <p>
         <img src="{{ book.image_url }}" style="height:100px">
     </p>
     <p>
         {{form.name.label}}<br>
         {{form.name(size=32, value=book.name)}}
         {%for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
     </p>
     <p>
         {{form.author.label}}<br>
         {{form.author(size=32,value=book.author)}}
         {%for error in form.author.errors %}
          <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
     </p>
     <p>
         {{form.description.label}}<br>
         {{form.description()}}
         {%for error in form.description.errors%}
          <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
     </p>
     <p>
         {{form.submit()}}
     </p>

 </form>
{% endblock %}